<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="react_vue" translate="label" sortOrder="999">
			<label>ReactJS and VueJS integration</label>
		</tab>
		<section id="react_vue_config" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Configuration</label>
			<tab>react_vue</tab>
			<resource>React_React::config_react_react</resource>
			<group id="vue" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>VueJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add VueJS script </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable VueJS</comment>
				</field>
			</group>
			<group id="react" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>ReactJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add ReactJS script</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable ReactJS</comment>
				</field>
			</group>
			<group id="junk" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Magento JS configuration</label>
				<field id="revemove" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Remove Adobe JS Junk</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Remove Magento's default JS garbage (Require,Knokout,jQuery). You will need implement required functionality or use Magento Open Source ReactJS Luma Theme</comment>
				</field>
			</group>
		</section>
	</system>
</config>
